.btnTC {
    background-color: #323E49 !important;
    border-color: #323E49 !important;
    height:55px;
    color: #FFFFFF !important;
    font-size: 20px !important;
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.2) !important; 
}

.btnTransparent{
    background-color: transparent !important;
    border-color: transparent !important;
    height:55px;
    color: #FFFFFF !important;
    font-size: 20px !important;
}

.btnTransparent{
    background-color: transparent !important;
    border-color: transparent !important;
    height:55px;
    color: #FFFFFF !important;
    font-size: 20px !important;
}

.btnClockInActive{
    background-color:#86BB2C !important;
    border-color:#86BB2C !important;
    border-radius:42px !important;
    font-weight: 600 !important;
    position: relative !important;
}

.btnClockInActive::after{
    content: '' !important;
    position: absolute !important;
    left: 15% !important;
    bottom: 100% !important;
    width: 0 !important;
    height: 0 !important;
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    border-bottom: 10px solid #86BB2C !important;
    clear: both !important;
}

.btnClockOutActive{
    background-color: #893633 !important;
    border-color: #893633 !important;
    border-radius:42px !important;
    color:#ffffff!important;
    font-weight: 600 !important;
    position: relative;
}

.btnClockOutActive::after{
    content: '' !important;
    position: absolute !important;
    right: 15% !important;
    bottom: 100% !important;
    width: 0 !important;
    height: 0 !important;
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    border-bottom: 10px solid #893633 !important;
    clear: both !important;
}

.buttonLabel{
    border-radius:42px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    height:100% !important;
    background-color: #1C252B !important;
    border-color: #1C252B !important;
}

.buttonLabelActive{
    border-radius:42px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    height:100% !important;
    background-color: #3fafd7 !important;
    border-color: #3fafd7 !important;
}
