.timeClock_Container{
    width: 100%;
    height: 612px;
    background-color: #222B35;
    padding: 12px;
}

.nav{
    color: #F0F2F5; 
    font-size: 24px;
    font-weight: 500;
    line-height: 57px;
    text-align: center;
}

.insert-pass{
    margin-left:3rem !important;
    margin-right:3rem !important;
}

.insert-pass button:disabled{
    background-color: #546171 !important;
    border-color: #546171 !important;
    height:55px !important;
    color: #FFFFFF !important;
    font-size: 20px !important;
    opacity: 1 !important;
}

.btnPassCodeSuccess{
    margin-left:3rem !important;
    margin-right:3rem !important;
}

.btnPassCodeSuccess button:disabled{
    background-color: #92C533 !important;
    border-color: #92C533 !important;
    height:55px;
    color: #FFFFFF !important;
    font-size: 20px !important;
    opacity: 1;
}

.insert-pass .col{
    padding-left:5px !important;
    padding-right:5px !important;
}

.btnPassCodeSuccess .col{
    padding-left:5px !important;
    padding-right:5px !important;
}