.timeClock_Container{
    width: 100%;
    height: 612px;
    background-color: #222B35;
    padding: 12px;
}

.nav{
    color: #F0F2F5; 
    font-size: 24px;
    font-weight: 500;
    line-height: 57px;
    text-align: center;
}

.row-insert-pass{
    margin-left:2rem !important;
    margin-right:2rem !important;
}

.insert-pass:disabled{
    background-color: #546171 !important;
    border-color: #546171 !important;
    height:55px !important;
    color: #FFFFFF !important;
    font-size: 20px !important;
    opacity: 1 !important;
    width: 100%;
}

.btnPassCodeSuccess:disabled{
    background-color: #86BB2C !important;
    border-color: #86BB2C !important;
    height:55px;
    color: #FFFFFF !important;
    font-size: 20px !important;
    opacity: 1 !important;
}

.btnPassCodeInsert:disabled{
    background-color: #42AED7 !important;
    border-color: #42AED7 !important;
    height:55px;
    color: #FFFFFF !important;
    font-size: 20px !important;
    opacity: 1 !important;
}


.col-insert-pass{
    padding-left:5px !important;
    padding-right:5px !important;
}

.btnPassCodeSuccess .col{
    padding-left:5px !important;
    padding-right:5px !important;
}